{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/1dde13f34b.js" crossorigin="anonymous"></script>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'global.css' %}" />
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'pwd-gen.js' %}"></script>
  </body>
</html>
